header{
    position: absolute;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 0;
}
.arrow{
    width: 40px;
    height: 20px;
    border-radius: 0 0 20px 20px;
}