@import './element-plus.scss';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

//标尺
.rule_lv1{
    width: 49px;
    height: 16px;
    border-right: 1px solid #999;
    display: inline-block;
    position: relative;
    .rule_lv2{
        width: 4px;
        height: 5px;
        margin-top: 11px;
        border-right: 1px solid #777;
        float: left;
    }
    .rule_num{
        position: absolute;
        left: 0px;
        top: 0;
        color: #ddd;
        font-size: 12px;
        line-height: 1;
        transform: scale(0.75);
    }
}
.rule_lv1:nth-child(1){
    border-left: 1px solid #999;
}
.rule_lv1_plus{
    transform: rotate(90deg) translateY(17px);
    margin-top: 30px;
}
.rule_lv1_plus:nth-child(1){
    margin-top: 18px;
}
.rule_x_guide{
    width: 100%;
    height: 5px;
    border-top: 1px solid #409eff;
    position: absolute;
    left: 0;
    top: 0;
    cursor: row-resize;
}
.rule_y_guide{
    width: 5px;
    height: 100%;
    border-left: 1px solid #409eff;
    position: absolute;
    left: 0;
    top: 0;
    cursor: col-resize;
}

//组件外框
.active{
    outline: 1px solid #70c0ff;
    user-select: none;
}
//外框八角
.shape-point-nw{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -4px; 
    margin-top: -4px; 
    left: 0px; 
    top: 0px; 
    cursor: nw-resize;
}
.shape-point-n{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -4px; 
    margin-top: -4px; 
    left: 50%; 
    top: 0px; 
    cursor: n-resize;
}
.shape-point-ne{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-right: -4px; 
    margin-top: -4px; 
    right: 0; 
    top: 0px; 
    cursor: ne-resize;
}
.shape-point-e{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-right: -4px; 
    margin-top: -4px; 
    right: 0; 
    top: 50%; 
    cursor: e-resize;
}
.shape-point-se{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-right: -4px; 
    margin-bottom: -4px; 
    right: 0; 
    bottom: 0; 
    cursor: se-resize;
}
.shape-point-s{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -4px; 
    margin-bottom: -4px; 
    left: 50%; 
    bottom: 0; 
    cursor: s-resize;
}
.shape-point-sw{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -4px; 
    margin-bottom: -4px; 
    left: 0px; 
    bottom: 0; 
    cursor: sw-resize;
}
.shape-point-w{
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -4px; 
    margin-top: -4px; 
    left: 0px; 
    top: 50%; 
    cursor: w-resize;
}