.outer_layer{
    position: absolute;
    left: 200px;
    right: 260px;
    top: 60px;
    bottom: 0;
    background: #f1f1f1;
}
.rule_x{
    width: calc(100% - 16px);
    height: 16px;
    background: rgb(71, 71, 71);
    padding-left: 16px;
    white-space:nowrap;
    overflow: hidden;
    cursor: default;
}
.rule_y{
    width: 16px;
    height: calc(100% - 16px);
    background: rgb(71, 71, 71);
    overflow: hidden;
    cursor: default;
}