.outer_layer{
    position: absolute;
    left: 200px;
    right: 260px;
    top: 60px;
    bottom: 0;
    background: #999999;
}
.scrollbar{
    width: 100%;
    height: 100%;
}
.rule_x{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    height: 16px;
    background: rgb(71, 71, 71);
    padding-left: 16px;
    z-index: 1;
    white-space:nowrap;
    overflow: hidden;
    cursor: default;
    user-select: none; 
}
.rule_y{
    width: 16px;
    background: rgb(71, 71, 71);
    overflow: hidden;
    cursor: default;
    float: left;
    user-select: none; 
}

/*screen*/
.screen{
    margin: 0 auto;
    margin-top: 16px;
    background: #fff;
    position: relative;
}
.menu{
    width: 78px;
    height: 118px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border: 1px solid #409EFF;
    background: #fff;
    display: none;
    li{
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size:14px;
        color:#409EFF;
        text-align:center;
        cursor: pointer;
        transition: .3s;
    }
    li:hover{
        background: #409EFF;
        color: #fff;
    }
}